<!-- Clients Aside -->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{{ 'assets/img/logos/fhooe.jpg' | relative_url }}" style="height: 70px;" alt="University of Applied Sciences Upper Austria" aria-label="University of Applied Sciences Upper Austria" /></a>
            </div>
            <div class="col-md-4 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{{ 'assets/img/logos/coe.svg' | relative_url }}" style="height: 70px;" alt="Center of Excellence for Smart Production" aria-label="Center of Excellence for Smart Production" /></a>
            </div>
            <div class="col-md-4 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{{ 'assets/img/logos/upperaustria_de.png' | relative_url }}" style="height: 70px;" alt="Upper Austria" aria-label="Upper Austria" /></a>
            </div>
        </div>
    </div>
</div>