<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</div>
            <div class="col-lg-4 my-3 my-lg-0">
                {% for network in site.social %}
                <a class="btn btn-dark btn-social mx-2" href="{{ network.url }}" aria-label="..."><i class="fa-brands fa-{{ network.title }}"></i></a>
                {% endfor %}
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
        <div class="row language-links">
            {% for lang in site.languages %}
                {% if lang == site.active_lang %}
                    {{ lang }}
                {% else %}
                    {% if lang == site.default_lang %}
                        <a href="{{ page.url }}" class="text-decoration-none">{{ lang }}</a>
                    {% else %}
                        <a href="/{{ lang }}{{ page.url }}" class="text-decoration-none">{{ lang }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>