<section class="page-section" id="funding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <img src="{{ site.data.i18n.t.sections.funding.logo[site.active_lang] }}" class="img-responsive img-circle" style="height: 120px;" alt="">
            </div>
            <div class="col-sm-10 h5 text-body-secondary">
                <bold>
                    <span>{{ site.data.i18n.t.sections.funding.text[site.active_lang] }}</span>
                    <a href="{{ site.data.i18n.t.sections.funding.link[site.active_lang] }}" target="_blank">{{ site.data.i18n.t.sections.funding.link_text[site.active_lang] }}</a>
                </bold>
            </div>
        </div>
    </div>
</section>