<header id="page-top" class="home-header">
   <div class="container-fluid header-container row g-0">
      <div class="header-info-container">
         <h2>ENPro – Energy Neutral Production: <br/>Transformation hin zur energieneutralen Produktion durch Modellierung, Simulation und Optimierung</h2>
         <h5>
            <br/>
            ENPro ist ein kooperatives Forschungs- und Entwicklungsprojekt,
            gefördert durch die Initiative AI Region Upper Austria,
            des Landes Oberösterreich im Rahmen der Wirtschafts- und Forschungsstrategie #upperVISION2030
         </h5>
      </div>
   </div>
</header>