<!-- Team Section -->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.i18n.t.sections.team.title[site.active_lang] }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.i18n.t.sections.team.subtitle[site.active_lang] }}</h3>
        </div>
        <div class="row">
            {% for member in site.data.i18n.t.sections.team.members %}
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/{{ member.img }}" alt="{{ member.name }}" />
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    {% for network in member.social %}
                    <a class="btn btn-dark btn-social mx-2" href="{{ network.url }}" aria-label="..."><i class="fa-brands fa-{{ network.icon }}"></i></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
        </div>
    </div>
</section>
